<h3>Create Team</h3>
<div [hidden]="submitted" style="width: 400px;">

    <form novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Team Name</label>
            <input type="text" class="form-control" id="name" #name="ngModel" [(ngModel)]="team.name" name="name" required>
        </div>
        <div class="col alert alert-danger" role="alert" *ngIf="name?.errors?.required && name?.touched">
            Name is required!
        </div>
        <div>
            <label for="teamLeadId">Team Lead</label>
            <input type="text" class="form-control" id="teamLeadId" #teamLeadId="ngModel" required [(ngModel)]="team.teamLeadId" name="teamLeadId">
        </div>
        <div class="col alert alert-danger" role="alert" *ngIf="teamLeadId?.errors?.required && teamLeadId?.touched">
            TeamLead is required!
        </div>
        <button type="submit" class="btn btn-success" [disabled]="name.invalid || teamLeadId.invalid">Submit</button>
    </form>
</div>