<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <h2>Student List</h2>
        </div>
        <div class="row p-1">
            <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)" />
      </label>
            <button class="btn btn-success fa fa-upload" (click)="upload()">Upload File</button>
            <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>TT</th>
                    <th>Full Name</th>
                    <th>Source</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Target</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students | async">
                    <td>{{student.id}}</td>
                    <td>{{student.fullName}}</td>
                    <td>{{student.source}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.status}}</td>
                    <td>{{student.target}}</td>
                    <td><button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
                        <button (click)="studentDetails(student.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>