<h3>Create User</h3>
<div [hidden]="submitted" style="width: 400px;">

    <form (ngSubmit)="onSubmit()">

        <div class="form">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">
        </div>

        <div class="form-group">
            <label for="email">Email </label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="Email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
        </div>

        <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" id="role" required [(ngModel)]="user.role" name="role">
        </div>

        <!-- <form>
            <p>Role : </p>
            <input type="radio" id="TL" name="role" value="TL">
            <label for="TL">TL</label><br>
            <input type="radio" id="TV" name="role" value="TV">
            <label for="TV">TV</label><br>
        </form> -->

        <!-- <div class="form-group">
            <p>Role : </p>
            <input type="radio" class="radio" id="TL" name="role" value="TL" />
            <label for="TL">TEAM LEAD</label>
            <input type="radio" class="radio" id="TV" name="role" value="TV" />
            <label for="TV">TƯ VẤN VIÊN</label>
        </div> -->

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>