* {
    background-color: #2671d4;
    color: rgb(0, 0, 0);
    font: bold 20px sans-serif;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
}

.sidebar a:hover {
    color: goldenrod;
}

.sidebar {
    max-height: 100%;
    height: 100%;
}