<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="sidebar">
    <br>
    <a routerLink="/home" routerLinkActive="active"><i class="fa fa-home fa-2x"></i> Home</a>
    <br>
    <a routerLink="/users" routerLinkActive="active"><i class="fa fa-user-secret fa-2x"></i> User Management</a>
    <br>
    <a routerLink="/teams" routerLinkActive="active"><i class="fa fa-group fa-2x"></i> Team Management</a>
    <br>
    <a routerLink="/students" routerLinkActive="active"><i class="fa fa-graduation-cap fa-2x"></i> Student
    Management</a>
    <br>
</div>