<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Rective form</h1>>
        <div class="form-group">
            <label for="url">Name</label>
            <input type="text" class="form-control" id="" placeholder="Input field">
        </div>
        <div class="form-group">
            <label for="username" class="text-info">Email:</label><br>
            <input type="text" formControlName="email" [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}" id="email" class="form-control">
            <li *ngIf="form.get('email').value.length == 0 && form.get('email').touched" class="text text-danger">Email Is Required</li>
            <li *ngIf="form.get('email').errors.email && form.get('email').touched" class="text text-danger">Email Is Not Right Format</li>
        </div>
        <div class="form-group">
            <label for="username" class="text-info">Username:</label><br>
            <input type="text" formControlName="username" id="username" [ngClass]="{'has-error': form.get('username').touched && form.get('username').invalid}" class="form-control">
            <li *ngIf="form.get('username').invalid && form.get('username').touched" class="text text-danger">Username Is Required</li>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="text" class="form-control" id="" placeholder="Input field">
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="text" class="form-control" id="" placeholder="Input field">
        </div>
        <div class="form-group">
            <label for="url">Url</label>
            <input formControlName="url" id="url" type="text" class="form-control">
            <span class="text-danger" *ngIf="f.url.touched && f.url.errors?.invalidUrl">
          Url not match</span>
        </div> -->
<!-- <form [formGroup]="form">
    <div class="form-group">
        <label for="file">Import FIle</label>
        <input type="file" class="form-control" accept="csv/*" (change)="selectFile($event)" style="height: 100%" multiple>
    </div>
    <button type="submit " class="btn btn-primary " (click)="saveForm(form)">Submit</button>
</form> -->
<!-- </div>  day la truong hop import 1 -->


<div class="container-fluid">
    <label class="btn btn-default">
  <input type="file" (change)="selectFile($event)" />
</label>
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
  Upload
</button>

    <!-- <div class="alert alert-light" role="alert">{{ message }}</div> -->
    <!-- <div *ngIf="f.url.touched && f.url.invalid " class="alter alter-danger ">
            <div *ngIf="f.url.errors.required ">Url is required</div>
            <div *ngIf="f.url.errors.pattern ">Please enter valid url
            </div>
        </div> -->